extends layout
block content
	link(rel='stylesheet', href='css/bootstrap-sortable.css')
	script(src="/socket.io/socket.io.js")
	script(src='js/jquery-ui-1.10.2.custom.min.js')
	script(src='js/d3.v3.min.js')
	link(rel='stylesheet', href='css/detail.css')
	script(src='js/utils.js')
	script(src='js/bootstrap-sortable.js')
	script(src='js/moment.min.js')
	include navbar
	.container
		.page-header
				h2 
			p.lead
				.row
					.span12
						.alert.alert-info
							.mn Name:
								strong
							.mid ID:
								strong
							.toa Total Available:
								strong
							.ip In Play:
								strong		
				.row
					.span12
						.alert.alert-error
							.lockinfo Apply Market and Event ID Restriction: 
								button#lockmid.btn.btn-mini.btn-danger(type='button') LOCK
				.row
					.span12
						table#marketbook.table.table-bordered
							thead
								tr
									th Runners
									th Last Price Traded
									th Total Matched
									th(colspan="3") Back
									th(colspan="3") Lay
							tbody#maintable								
				.row
					.span6
						form#backform(method='post', action='/markets')
							button#lockmidbutton.btn.btn-primary.btn-mini(type='submit') Back				
					script
						io = io.connect();
						if(#{locked}) {
							showLockedMidPanel();
						}
						io.emit('detailsready', {id: #{mid}});															
						io.on('tick_' + #{mid},function(data){
							$('.mid strong').text(' ' + data.marketId);
							$('.toa strong').text(' ' + data.totalAvailable);
							$('.ip strong').text(' ' + data.inplay);							
							if($('#marketbook tr').length == 1) {
								createTable(data); 
								io.emit('detailpageready', {id: #{mid}});
							} 
							assign(data);
							$.bootstrapSortable(true);
						});		
						io.on('runnerdesc',function(data){
							$('.mn strong').text(' ' +data.marketName);
							for(var i = 0; i<data.runnerDescription.length; i++) {
								setAndHighlightItem('marketbook tbody tr#r' + data.runnerDescription[i].selectionId + 's td#rdesc', data.runnerDescription[i].runnerName, data.runnerDescription[i].selectionId);			
							}
						});
						io.on('theoretical_'+ #{mid},function(data){
							var sid = data.selectionId;
							if($('#r' + sid + 's #rdesc #oct').length == 0) {
								$('#r' + sid + 's #rdesc').append(' <span id="oct" class="badge badge-info">0</span>');
							}
							$('#orders' + sid + ' .accordion-inner #information').text('');
							$('#orders' + sid + ' .theoretical strong').text(data.theoretical);
							if($('#r' + sid + 's #rdesc #oct').length == 0) {
								$('#r' + sid + 's #rdesc').append(' <span id="oct" class="badge badge-info">0</span>');
							}
						});
						io.on('addorder_'+ #{mid},function(data){
							var sid = data.selectionId;	
							var bid = data.betId; 							
							if($('#' + bid).length == 0) {
								$('#ordertable' + sid + ' tbody').append('<tr id="'+bid+'"><td id="bid">' + data.betId + '</td><td id="exid">' + data.executionId + '</td><td id="pd">' + millisToDate(data.placedDate) + '</td><td id="sm">' + data.sizeMatched + '<br><strong>' + data.averagePriceMatched + '</strong> </td><td id="side">' + data.side + '</td><td id="ptype">' + data.persistenceType + '<br><strong>' + data.status + '</strong></td><td id="sp">' +  data.priceSize.size + '<br><strong>' +  data.priceSize.price + '</strong></td></tr>');
							}
							var orderCount = Math.max($('#ordertable' + sid + ' tr').length - 1, 0);
							if($('#r' + sid + 's #rdesc #oct').length == 0) {
								$('#r' + sid + 's #rdesc').append(' <span id="oct" class="badge badge-info">0</span>');
							}
							$('#r' + sid + 's #rdesc #oct').text(orderCount);												
						});
						io.on('removeorder_'+ #{mid},function(data){
							var sid = data.selectionId;	
							var bid = data.betId; 
							if($('#' + bid).length) {
								$('#' + bid).remove();
							}
							var orderCount = Math.max($('#ordertable' + sid + ' tr').length - 1, 0);
							$('#r' + sid + 's #rdesc #oct').text(orderCount);														
						});
						io.on('lockedmid', function(isLocked) {	
							if(isLocked) {
								showLockedMidPanel();
							} 
						});	
						io.on('profitloss', function(data) {
							var sid = data.sid; 
							$('#orders' + sid + ' .backBetLiability strong').text(data.liabilities.backBetLiability);
							$('#orders' + sid + ' .layBetLiability strong').text(data.liabilities.layBetLiability);
							$('#orders' + sid + ' .totalLiability strong').text(data.liabilities.totalLiability);
							$('#orders' + sid + ' .potWin strong').text(data.outcomes.potWin);
							$('#orders' + sid + ' .potLoss strong').text(data.outcomes.potLoss);
						});					
						$('#lockmid').click(function(e) {
							var xhr = $.ajax({
								type: 'POST',
								cache: false,
								data: {operation: 'lockmid', eventId: #{eid}, marketId: '1.' + #{mid}},
							});	
						});
						function showLockedMidPanel() {
							$('.lockmidbutt ').attr("style", "display:none;");
							$('.lockinfo').text('Market locked.');
						}
						function createTable(data) {
							for (var rIdx = 0; rIdx < data.runners.length; ++rIdx) {
								var sid = data.runners[rIdx].selectionId;
								$('#marketbook tbody#maintable').append('<tr data-toggle="collapse" data-target="#orders' + sid + '" class="accordion-toggle" id="r' + data.runners[rIdx].selectionId + 's"><td id="rdesc"><td id="rlpt"><td id="rtm"></td><td id="b0"></td><td id="b1"></td><td id="b2"></td><td id="l0"></td><td id="l1"></td><td id="l2"></td></tr>');
								$('#marketbook tbody#maintable').append('<td style="background-color:#FBFBFC;" colspan="9" class="hiddenRow"><div class="accordian-body collapse" id="orders' + sid + '"><div class="accordion-inner"></div></div></td>');		
								$('#orders' + sid + ' .accordion-inner ').append('<div id="inneroverview" class="alert alert-success"><div id="information">No Price available.</div>'+ createRunnerHTMLFigures() + '</div>');
								$('#orders' + sid + ' .accordion-inner ').append('<table id="ordertable' + sid + '" class="table table-bordered"><tr><th>Bet ID</th><th>Ex. ID</th><th>Placed Date</th><th>Size Matched/Av. Price</th><th>Order Type</th><th>Persistence Type/Status</th><th>Rem. Size/Price</th></table>');
							}							
						}
						// Use this for dynamically added elements
						$('#marketbook').on('click', '.locksid', function(e) {
							sid = e.target.id;
							var xhr = $.ajax({
								type: 'POST',
								cache: false,
								data: {operation: 'locksid', eventId: #{eid}, marketId: '1.' + #{mid}, selectionId: sid},
							});
						});			
						function assign(data) {
							for ( var pIdx = 0; pIdx < data.runners.length; ++pIdx) {
								var runner = data.runners[pIdx];
								setAndHighlightItem('marketbook tbody tr#r' + runner.selectionId + 's td#rlpt', '', runner.lastPriceTraded);
								setAndHighlightItem('marketbook tbody tr#r' + runner.selectionId + 's td#rtm', '', runner.totalMatched);
								var atb = data.runners[pIdx].ex.availableToBack;								
								for(var bIdx = 2; bIdx >= 0; bIdx--) {
									if(atb[bIdx]) {
										setAndHighlightItem('marketbook tbody tr#r' + runner.selectionId + 's td#b' + (2-bIdx), atb[bIdx].size, atb[bIdx].price);
									}									
								}																					
								var atl = data.runners[pIdx].ex.availableToLay;									
								for(var lIdx = 0; lIdx < 3; lIdx++) {									
									if(atl[lIdx]) {
										setAndHighlightItem('marketbook tbody tr#r' + runner.selectionId + 's td#l' + lIdx, atl[lIdx].size, atl[lIdx].price);
									}	
								}
							}
						}
						function createRunnerHTMLFigures() {
							var figures = ''
							figures += '<div class="theoretical">Theoretical: <strong>-</strong></div>';
							figures += '<div class="position">Position: <strong>-</strong></div>';
							figures += '<div class="backBetLiability">Back Bet Liability: <strong>-</strong></div>';
							figures += '<div class="layBetLiability">Lay Bet Liability: <strong>-</strong></div>';
							figures += '<div class="totalLiability">Total Liability: <strong>-</strong></div>';
							figures += '<div class="potWin">If Runner wins: <strong>-</strong></div>';
							figures += '<div class="potLoss">If Runner loses: <strong>-</strong></div>';
							return figures;
						}				
						